* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: block;
  background-color: inherit;
  padding: 15px;
}

.nav-element {
  min-width: 300px;
  max-width: 600px;
  display: inline-block;
}

.nov-div {
  display: inline-block;
}

nav img {
  max-width: 100%;
}
