canvas{
  max-width: 100%; 
  max-height: 100%; 
  border:1px solid #8a8888; 
  border-radius: 10px;
  background-color: inherit;
}

.value-holder{
  padding: 5px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  width: 50px;
}