* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-size: 1.2rem;
}

h2 {
  font-size: 2.4rem;
  margin-top: 30px;
  margin-bottom: 5px;
}

h3 {
  padding-left: 2px;
}

p {
  margin-bottom: 15px;
  padding-left: 3px;
}

header {
  background-color: brown;
  padding: 15px;
  overflow-x: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header span {
  font-size: 3rem;
}

.crtica {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 5px 0;
}

.crtice{
  margin-right: 15px;
  display: inline-block;
}

.crtice:hover {
  opacity: 0.6;
  cursor: pointer;
}

nav {
  display: none;
  background-color: greenyellow;
  padding: 15px;
}

.nav-element {
  background-color: aqua;
  padding: 15px 20px;
  margin: 8px 5px;
  font-size: 1.25rem;
  display: inline-block;
  max-width: 300px;
  transition: all 200ms ease-in-out;
}

.nav-element:hover {
  transform: scale(1.02);
  background-color: aquamarine;
}

.nov-div {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.nav-element a {
  text-decoration: none;
}

.content {
  padding: 5%;
  padding-top: 0;
}


@media only screen and (max-height: 730px) {
  .opisi-naslovov {
    display: none;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  #logo{
    display: none;
  }
}

ul li {
  list-style-position: inside;
  word-break: break-all;
}

ul {
  list-style: none;
  padding-left: 20px;
}

.slika {
  display: inline-block;
  margin: 30px;
  text-align: center;
  max-width: 100%;
}

.slika img {
  max-width: 100%;
}

.slika span {
  word-break: break-all;
}