:root{
  font-size: 16px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: Century Gothic;
  background-color: rgb(56, 56, 56);
  color: rgb(224, 224, 224);
}

header{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

h2{
  margin-bottom: 5px;
  font-size: 1.9rem;
}

p{
  margin-bottom: 15px;
}

.content{
  padding: 0 5%;
}

nav{
  display: flex;
  flex-direction: column;
  margin: 0 max(5px, 2%);
}

.teorija{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: rgb(60, 60, 60);
}

.drzalo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.praktika{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
  background-color: rgb(60, 60, 60);
}

.nav-element{
  padding: 10px 15px;
  color: green;
}

.nav-element a{
  text-decoration: none;
  font-size: 1.4rem;
  color: green;
}

.nav-element a:hover{
  color: lightgreen;
}

#domov{
  background-color: rgb(60, 60, 60);
  margin-right: 10px;
  /* margin-bottom: 10px; */
  /* justify-content: center;
  align-items: center; */
}

footer{
  border-top-style: solid;
  border-top-width: 1px;
  margin: 150px 10%;
}