:root{
  font-size: 16px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: white;
  font-family: Century Gothic;
}

header{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

h2{
  margin-bottom: 5px;
  font-size: 1.9rem;
}

p{
  margin-bottom: 15px;
}

.content{
  padding: 0 5%;
}

nav{
  display: flex;
  flex-direction: column;
  margin: 0 max(5px, 2%);
}

.teorija{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  margin-top: 10px;
}

.drzalo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.praktika{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  margin: 10px 0 20px 0;
}

.nav-element{
  padding: 10px 15px;
}

.nav-element a{
  text-decoration: none;
  font-size: 1.4rem;
  color: blue;
}

.nav-element a:hover{
  color: lightblue;
}

#domov{
  background-color: rgb(240, 240, 240);
  margin-right: 10px;
  /* margin-bottom: 10px; */
  /* justify-content: center;
  align-items: center; */
}

@media(prefers-color-scheme: dark){
  body{
    background-color: rgb(56, 56, 56);
    color: rgb(224, 224, 224);
  }

  .teorija{
    background-color: rgb(60, 60, 60);
  }

  .praktika{
      background-color: rgb(60, 60, 60);
  }

  .nav-element a{
    color: green;
  }

  .nav-element a:hover{
      color: lightgreen;
  }

  #domov{
    background-color: rgb(60, 60, 60);
  }
}